<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IAnalyzer" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8081/ServiceModelSamples/service"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAnalyzer"
        contract="AnalyzerService.IAnalyzer" name="WSDualHttpBinding_IAnalyzer">
        <identity>
          <servicePrincipalName value="host/DESKTOP-PMSI5TC" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service name="Manager.Service.ManagerService" behaviorConfiguration="mexBehavior">
        <endpoint address="ManagerService" binding="wsDualHttpBinding" contract="Manager.Contract.IManagerService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="True" httpHelpPageEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>